## DSBDAL Assignment 1

## Data Wrangling, I

### Step 1 : Importing required libraries

In [1]:
import pandas as pd
import string
from nltk.corpus import stopwords
import warnings
warnings.filterwarnings('ignore')
from sklearn import preprocessing

C:\Users\Isha\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Isha\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\Isha\anaconda3\lib\site-packages\numpy\.libs\libopenblas.xwydx2ikjw2nmtwsfyngfuwkqu3lytcz.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

### Step 2 & 3: Locating the dataset and describing it

In [2]:
### The data contains information about house prices in Melbourne and other features 
### The dataset can be found at - https://www.kaggle.com/anthonypino/melbourne-housing-market?select=Melbourne_housing_FULL.csv

### Step 4 - Loading the dataset into a pandas dataframe

In [3]:
data = pd.read_csv('Melbourne_housing_FULL.csv') # Loading the csv file into a pandas dataframe 
data.drop(data.iloc[:,10:21], inplace=True, axis=1) # Dropping the rest of the columns of the dataset 
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0

### Step 5 : Data preprocessing

#### Using the describe() function

In [4]:
data.describe()

# Gives us information about all the numerical data in the dataset

              Rooms         Price      Distance      Postcode
count  34857.000000  2.724700e+04  34856.000000  34856.000000
mean       3.031012  1.050173e+06     11.184929   3116.062859
std        0.969933  6.414671e+05      6.788892    109.023903
min        1.000000  8.500000e+04      0.000000   3000.000000
25%        2.000000  6.350000e+05      6.400000   3051.000000
50%        3.000000  8.700000e+05     10.300000   3103.000000
75%        4.000000  1.295000e+06     14.000000   3156.000000
max       16.000000  1.120000e+07     48.100000   3978.000000

#### Dimensions of the dataframe

In [5]:
print(data.shape[0],"x",data.shape[1]) ## Number of rows x number of columns

34857 x 10

#### Checking for missing values

In [6]:
missing_values_count = data.isnull().sum() ## summing up the null value counts for all columns 
missing_values_count[0:10]

## Price, Postcode and Distance have missing values

Suburb         0
Address        0
Rooms          0
Type           0
Price       7610
Method         0
SellerG        0
Date           0
Distance       1
Postcode       1
dtype: int64

#### Datatypes of the columns of data

In [7]:
data.dtypes ## object = str, date etc.

Suburb       object
Address      object
Rooms         int64
Type         object
Price       float64
Method       object
SellerG      object
Date         object
Distance    float64
Postcode    float64
dtype: object

#### Description of the data

In [8]:
## Suburb - suburb the house is located in 
print(data.Suburb.value_counts())
print("The data type : ",data.Suburb.dtype)

## 351 unique values

Reservoir          844
Bentleigh East     583
Richmond           552
Glen Iris          491
Preston            485
                  ...
Belgrave             1
Cranbourne East      1
Yarra Glen           1
Olinda               1
Menzies Creek        1
Name: Suburb, Length: 351, dtype: int64
The data type :  object

In [9]:
## Address - address of the house
print("The data type : ",data.Address.dtype)

The data type :  object

In [10]:
## Rooms - the number of rooms
print(data.Rooms.value_counts())
print("The data type : ",data.Rooms.dtype)
print("Max value : ",data.Rooms.max())
## 12 unique values

3     15084
2      8332
4      7956
5      1737
1      1479
6       204
7        32
8        19
10        6
9         4
12        3
16        1
Name: Rooms, dtype: int64
The data type :  int64
Max value :  16

In [11]:
## Type - type of house (eg-villa, cottage etc.)
    #h - house,cottage,villa, semi,terrace;
    #u - unit, duplex;
    #t - townhouse;
print(data.Type.value_counts())
print("The data type : ",data.Type.dtype)

## 3 unique values

h    23980
u     7297
t     3580
Name: Type, dtype: int64
The data type :  object

In [12]:
## Price - price of the house in australian dollars
print("The data type : ",data.Price.dtype)
print("Max value : ",data.Price.max())

The data type :  float64
Max value :  11200000.0

In [13]:
## Method - method of sale 
    #S - property sold;
    #SP - property sold prior;
    #PI - property passed in;
    #PN - sold prior not disclosed;
    #SN - sold not disclosed;
    #NB - no bid;
    #VB - vendor bid;
    #W - withdrawn prior to auction;
    #SA - sold after auction;
    #SS - sold after auction price not disclosed.
    #N/A - price or highest bid not available.

print(data.Method.value_counts())
print("The data type : ",data.Method.dtype)

## 9 unique values

S     19744
SP     5095
PI     4850
VB     3108
SN     1317
PN      308
SA      226
W       173
SS       36
Name: Method, dtype: int64
The data type :  object

In [14]:
## SellerG - the real estate agent 
print(data.SellerG.value_counts())
print("The data type : ",data.SellerG.dtype)

## 388 unique values

Jellis             3359
Nelson             3236
Barry              3235
hockingstuart      2623
Marshall           2027
                   ...
Clairmont             1
Buxton/Find           1
Harcourts/Barry       1
Silver                1
Methven               1
Name: SellerG, Length: 388, dtype: int64
The data type :  object

In [15]:
## Date - date of sale 
print("The data type : ",data.Date.dtype)
print("Max value : ",data.Date.max())

The data type :  object
Max value :  9/12/2017

In [16]:
## Distance - distance from central business district (CBD)
print("The data type : ",data.Distance.dtype)
print("Max value : ",data.Distance.max())

The data type :  float64
Max value :  48.1

In [17]:
## Postcode - postcode of the house 
print("The data type : ",data.Postcode.dtype)

The data type :  float64

### Step 6 : Data formatting and normalization

#### Datatypes of all the columns

In [18]:
data.dtypes

Suburb       object
Address      object
Rooms         int64
Type         object
Price       float64
Method       object
SellerG      object
Date         object
Distance    float64
Postcode    float64
dtype: object

#### Data formatting

In [19]:
nan_value = float("NaN")
## Converting the empty strings into a NaN format 
data.replace("", nan_value, inplace=True)
## Replacing missing price with mean of price
data.Price.replace(nan_value,data.Price.mean(),inplace=True)
## Dropping rows with missing distance and postcode since it is only 2 rows
data.dropna(subset = ["Distance","Postcode"], inplace=True)
data.Postcode = data.Postcode.astype(str)

In [20]:
missing_values_count = data.isnull().sum()
missing_values_count[0:10]

Suburb      0
Address     0
Rooms       0
Type        0
Price       0
Method      0
SellerG     0
Date        0
Distance    0
Postcode    0
dtype: int64

#### Normalizing the data

In [21]:

# For each value in a feature MinMaxScaler subtracts the minimum value in the feature and then divides by the range
scaler = preprocessing.MinMaxScaler()
data.iloc[:,[4,8]] = scaler.fit_transform(data.iloc[:,[4,8]])

In [22]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode
0,Abbotsford,68 Studley St,2,h,0.086835,SS,Jellis,3/09/2016,0.051975,3067.0
1,Abbotsford,85 Turner St,2,h,0.125506,S,Biggin,3/12/2016,0.051975,3067.0
2,Abbotsford,25 Bloomburg St,2,h,0.085470,S,Biggin,4/02/2016,0.051975,3067.0
3,Abbotsford,18/659 Victoria St,3,u,0.086835,VB,Rounds,4/02/2016,0.051975,3067.0
4,Abbotsford,5 Charles St,3,h,0.124157,SP,Biggin,4/03/2017,0.051975,3067.0

### Step 7 : Converting categorical values into quantitative values

In [23]:
# Creating a dictionary to avoid confusion while replcaing 
htype = {'h':"0",'u':"1",'t':"2"}
method = {"S":"0","SP" :"1","PI":"2","VB":"3","SA":"4","SN":"5","PN":"6","W":"7","SS":"8"}

In [24]:
# To replace house types with numbers
def process(text):
    text = text.replace('h', htype['h']).replace('u', htype['u']).replace('t', htype['t'])
    text = text.encode("utf8").decode("ascii",'ignore')
    text = " ".join(text.split())
    return text

data.Type = data.Type.apply(process)

In [25]:
# To replace method of sale with numbers 
def process2(text):
    text = text.replace('SP', method['SP']).replace('SN', method['SN']).replace('SS', method['SS']).replace('PI', method['PI']).replace('PN', method['PN']).replace('SA', method['SA']).replace('VB', method['VB']).replace("S", method["S"]).replace('W', method['W'])
    text = text.encode("utf8").decode("ascii",'ignore')
    text = " ".join(text.split())
    return text
data.Method = data.Method.apply(process2)

In [26]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode
0,Abbotsford,68 Studley St,2,0,0.086835,8,Jellis,3/09/2016,0.051975,3067.0
1,Abbotsford,85 Turner St,2,0,0.125506,0,Biggin,3/12/2016,0.051975,3067.0
2,Abbotsford,25 Bloomburg St,2,0,0.085470,0,Biggin,4/02/2016,0.051975,3067.0
3,Abbotsford,18/659 Victoria St,3,1,0.086835,3,Rounds,4/02/2016,0.051975,3067.0
4,Abbotsford,5 Charles St,3,0,0.124157,1,Biggin,4/03/2017,0.051975,3067.0

In [27]:
data.Method.value_counts()

0    19744
1     5094
2     4850
3     3108
5     1317
6      308
4      226
7      173
8       36
Name: Method, dtype: int64

In [28]:
data.Type.value_counts()

0    23979
1     7297
2     3580
Name: Type, dtype: int64

#### Converting the numbers into int type

In [29]:
data.Type = data.Type.astype(int)

In [30]:
data.Method = data.Method.astype(int)

In [31]:
data.dtypes

Suburb       object
Address      object
Rooms         int64
Type          int32
Price       float64
Method        int32
SellerG      object
Date         object
Distance    float64
Postcode     object
dtype: object